In [2]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from faker import Faker

In [3]:
fake = Faker("ru_RU")

In [4]:
%load_ext nb_black

### __Задание__

1. Создайте DataFrame для пяти студентов и их оценок по предметам matan, linal, matstat и cs, заполните их случайными данными
2. Добавьте еще одного студента и данные по его упеваемости по предметам
3. Добавьте предмет physics и оценки по нему
6. Добавьте признак "mean" ("средний балл"), посчитайте в нем средний балл по каждому студенту.
7. Для каждого студента посчитайте средний балл по всем предметам, кроме "cs" и "mean" (новый столбец датафрейма)
8. Удалите предмет "cs"

Варианты решения со столбцами  
https://stackoverflow.com/questions/29763620/how-to-select-all-columns-except-one-in-pandas

In [5]:
# Ваш код
# смотри файл sol_Pandas_02_p2.ipynb
# Создайте DataFrame для пяти студентов и их оценок по предметам matan, linal, matstat и cs, заполните их случайными данными
df = pd.DataFrame(
    np.random.randint(2, 6, size=(5, 4)),
    index=["Иванов", "Петров", "Сидоров", "Синицын", "Жуков"],
    columns=["matan", "linal", "matstat", "cs"],
)

# Добавьте еще одного студента и данные по его упеваемости по предметам
df_new = pd.concat(
    [df, pd.DataFrame([[3, 3, 4, 5]], index=["Коровкин"], columns=df.columns)]
)


# Добавьте предмет physics и оценки по нему
values = [4, 5, 4, 3, 5, 4]
df_new.insert(loc=len(df_new.columns), column="physics", value=values)


# Добавьте признак "mean" ("средний балл"), посчитайте в нем средний балл по каждому студенту.
result_average = df_new.mean(axis=1)
df_new.insert(loc=len(df_new.columns), column="mean", value=result_average)
df_new

# Посчитайте средний балл по всем предметам, кроме "cs" и "mean"

result_average_extra = df_new.loc[:, ~df_new.columns.isin(["cs", "mean"])].mean(axis=1)
df_new.insert(loc=len(df_new.columns), column="mean_extra", value=result_average_extra)


# Удалите предмет "cs"
df_new.drop(["cs"], axis=1, inplace=True)
df_new

          matan  linal  matstat  cs  physics  mean
Иванов        5      5        2   4        4   4.0
Петров        2      2        4   5        5   3.6
Сидоров       5      2        4   5        4   4.0
Синицын       4      2        5   3        3   3.4
Жуков         5      2        2   5        5   3.8
Коровкин      3      3        4   5        4   3.8

          matan  linal  matstat  physics  mean  mean_extra
Иванов        5      5        2        4   4.0        4.00
Петров        2      2        4        5   3.6        3.25
Сидоров       5      2        4        4   4.0        3.75
Синицын       4      2        5        3   3.4        3.50
Жуков         5      2        2        5   3.8        3.50
Коровкин      3      3        4        4   3.8        3.50